@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Rubik, sans-serif;
    background-color: #2E446E;
}

/* logo */

#gf-logo {
    font-family: Fredoka, sans-serif;
    color: whitesmoke;
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation menu */
header {
    background-color: transparent;
}

nav {
    transform: translate(0, 1em);
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: #f5f5f5;
    padding-left: 5px;
    margin-bottom: 15px;
}
.navbar-dark .navbar-nav .active>.nav-link:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #2E446E;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.active {
    text-decoration: underline;
}

/* hero image */

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/gym_heroimage.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#hero-outer {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

@keyframes hero-zoom {
	from{
        transform: scale(1);
  }
    to{
        transform: scale(1.1);
  }
}

/* cover text */

#cover-text{
    font-size: 80%;
    font-family: rubik, arial;
    color: #f3f3f3;
    width: 350px;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    background: rgba(46, 68, 110, .5);
    bottom: 5vh;
    left: 5vw;
    position: absolute;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
  }

  #namefont {
      font-family: fredoka, arial;
      color: #f5f5f5;
  }

  /* reasons why header */

  #reasons-header {
      background-color: #f5f5f5;
      margin: auto;
      text-align: center;
      padding: 20px 0;
      /* code used from w3school */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #sml-logo {
      font-family: fredoka, arial;
      color: #2E446E;
  }

  /* reasons why section */

  #reasons-section {
      padding: 50px 0;
  }

  .reasons-why {
      background-color: #f5f5f5;
      box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      font-size: 90%;
      padding: 15px 20px;
  }

  .firstrow {
      padding-bottom: 1rem;
  }

  .marginr-2 {
      margin-right: 0.5rem;
  }

  .marginl-2 {
      margin-left: 0.5rem;
  }

  mark {
      background-color: peachpuff;
      border-radius: 10%;
  }

  /* footer */

  footer {
      height: 100px;
      background-color: #f5f5f5;
      box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  footer h2 {
      font-size: 70%;
      text-align: center;
      padding-top: 10px;
  }

  .socials {
      padding-top: 10px;
      text-align: center;
  }
  
  .socials li {
      display: inline;
  }

  .socials i {
    margin: 1%;
    padding: 0 5%;
    color: #2E446E;
  }

  /* classes background */

  #classes {
    background: url(../images/classes_image.jpg) no-repeat center center;
    background-size: cover;
    height: 1020px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }

  /* classes header */

  #classes-header {
    background-color: rgba(245, 245, 245, .8);
    color: #000;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
  }

  /* class times */

  #times {
      margin-top: 120px;
      margin-bottom: 40px;
  }

  #times div {
      color: #f5f5f5;
      background-color: rgba(79, 90, 110, 0.5);
      border-radius: 5px;
      width: 19%;
      height: 200px;
      float: left;
      margin: 2px;
      text-align: center;
  }
  
  #times h2, #times h3 {
    font-size: 130%;
    padding: 7px;
  }

/* contact section */

  .contact-section {
    background: url(../images/contact-background.jpg) no-repeat center center;
    background-size: cover;
    height: 920px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }

  /* contact header */

  #contact-header {
    clear: both;
    background-color: #f5f5f5;
    color: #000;
    margin: auto 0;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* contact form */

  .contact-form {
    color: #000;
    background-color: #f5f5f5;
    margin: 100px 0 100px 50px;
    max-width: 500px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-input {
      border: 1px solid #000;
      border-radius: 5px;
      margin-left: 2px;
      padding-left: 2px;
  }

  .comment-input {
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 2px;
    padding-left: 2px;
    height: 150px;
    width: 250px;
  }

  .contact-btn {
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: cornflowerblue;
    padding: 5px;
  }

  .contact-btn:hover{
    background-color: #fff;
    color: #000;
  }

  /* media querys */
  
  @media screen and (max-width: 1200px) {
      #times {
          margin-top: 10px;
      }

      #times div {
          width: 100%;
          clear: both;
          height: 150px;
          font-size: 70%;
      }
  }

  @media screen and (max-width: 767px) {

      .reasons-why {
          margin-bottom: 5px;
      }

      .marginl-2 {
          margin-left: 0rem;
      }

      .marginr-2 {
          margin-right: 0rem;
      }

      .firstrow {
          padding-bottom: 0rem;
      }
  }

  @media screen and (max-width: 700px) {
      .contact-form {
          width: 100%;
          margin: 100px 0;
          max-width: none;
      }
  }