@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Rubik, sans-serif;
    background-color: cornflowerblue;
}

/* logo */

#logo {
    font-family: Fredoka, sans-serif;
    color: whitesmoke;
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation menu */

nav {
    transform: translate(0, 1em);
}
#menu {
    list-style-type: none;
    float: right;
    letter-spacing: 4px;
    font-size: 80%;
}

#logo #menu {
    line-height: 75px;
}

#menu li {
    line-height: 50px;
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
}

#menu a{
    text-decoration: none;
    color: #f5f5f5;
    display: block;
    line-height: 1;
}

#menu a:hover {
    color: #2E446E;
    border-bottom: 2.5px solid #f5f5f5;
}

.active {
    border-bottom: 2.5px solid #f5f5f5;
}

/* hero image */

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/gym_heroimage.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
	from{
        transform: scale(1);
  }
    to{
        transform: scale(1.1);
  }
}

/* cover text */

#cover-text{
    font-size: 80%;
    font-family: rubik, arial;
    color: #f3f3f3;
    
    width: 350px;
    height: 150px;
    
    padding-top: 20px;
    padding-left: 10px;
    
    background: rgba(78, 116, 186, .5);
    
    bottom: 170px;
    left: 10px;
    
    position: absolute;
    
  }

  #namefont {
      font-family: fredoka, arial;
      color: #f5f5f5;
  }

  /* reasons why header */

  #reasons_header {
      background-color: #f5f5f5;
      margin: auto;
      text-align: center;
      padding: 20px 0;
      /* code used from w3school */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #reasonslogo {
      font-family: fredoka, arial;
      color: #2E446E;
  }

  /* reasons why section */

  #reasons_section {
      padding: 50px 0;
  }

  .reasons_why {
      background-color: #f5f5f5;
      box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      font-size: 90%;
      margin: 5px;
      padding: 15px;
  }

  mark {
      background-color: peachpuff;
      border-radius: 10%;
  }

  /* footer */

  footer {
      height: 100px;
      background-color: #f5f5f5;
      box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  footer h2 {
      font-size: 70%;
      text-align: center;
      padding-top: 10px;
  }

  .socials {
      padding-top: 10px;
      text-align: center;
  }
  
  .socials li {
      display: inline;
  }

  .socials i {
    margin: 1%;
    padding: 0 5%;
    color: #2E446E;
  }

  /* upcoming classes */

  #classes {
    background: url(../images/classes_image.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
  }

  #classes-header {
    background-color: rgba(245, 245, 245, .8);
    color: #000;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
  }

  #times {
      margin-top: 40px;
      margin-bottom: 40px;
  }

  #times div {
      color: #f5f5f5;
      background-color: rgba(79, 90, 110, 0.5);
      border-radius: 5px;
      width: 19%;
      height: 200px;
      float: left;
      margin: 2px;
      text-align: center;
      margin-left: 9px;
  }
  
  #times h2, #times h3 {
    font-size: 130%;
    padding: 7px;
  }
